version: '3'
services:

  rasa_server:
    container_name: "rasa_server"
    build:
      context: backend
    user: root
    ports:
      - "5005:5005"
    expose:
      - 5005

  action_server:
    container_name: "action_server"
    build:
      context: actions
    ports:
      - "5055:5055"
    expose:
      - 5055

  web_server:
    container_name: "web_server"
    image: nginx
    depends_on:
      - "rasa_server"
      - "action_server"
    ports:
      - "80:80"
      - "443:443"
    restart: always  # is this needed?
    volumes:
      - ./web/conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./web/conf/explorer-ai.chat.conf:/etc/nginx/conf.d/explorer-ai.chat.conf
      - ./web/conf/nginx.conf:/etc/nginx/nginx.conf
#      - ./web/html:/var/www/html
#      - ./web/html/index.html:/var/www/html/index.html
#      - ./web/html/favicon.ico:/var/www/html/favicon.ico
      - /var/www:/var/www
#      - /var/www/.well-known:/var/www/.well-known
#      - ./certbot/conf/options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf
#      - ./certbot/conf/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem
      - ./certbot/conf:/etc/letsencrypt
#      - /etc/letsencrypt:/etc/letsencrypt
      - ./web/start.sh:/start.sh
    command: /start.sh

  certbot:
    container_name: "certbot"
    image: certbot/certbot
    volumes:
#      - /var/www/.well-known:/var/www/.well-known
      - ./certbot/conf:/etc/letsencrypt:rw
#      - ./certbot/conf/options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf
#      - ./certbot/conf/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem
      - ./certbot/www:/var/www/html:rw
#      - /etc/letsencrypt:/etc/letsencrypt
      - ./certbot/entrypoint.sh:/entrypoint.sh
    entrypoint: /entrypoint.sh
