version: '3'
services:

  rasa_server:
    container_name: "rasa_server"
    build:
      context: backend
    user: root
    ports:
      - "5005:5005"

  action_server:
    container_name: "action_server"
    build:
      context: actions
    ports:
      - "5055:5055"
    expose:
      - 5055

  web_server:
    container_name: "web_server"
    build:
      context: web
    depends_on:
      - "rasa_server"
      - "action_server"
    ports:
      - "81:80"
      - "444:443"
    volumes:
#      - ./web/html:/var/www/explorer-ai.chat/html
#      - ./web/default.conf:/etc/nginx/sites-enabled/explorer-ai.chat
      - /etc/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
